
mergingentities.code-workspace
ATD_AV_interaction.code-workspace
*.pyc
Icon*
SoundSynthesis/AbletonLive/Composition_1B Project
SoundSynthesis/AbletonLive/.DS_Store
SoundSynthesis/AbletonLive/Composition_2A Project/Backup
SoundSynthesis/AbletonLive/Composition_2A Project/Presets/Audio Effects/.DS_Store
SoundSynthesis/AbletonLive/Composition_2A Project/.DS_Store
SoundSynthesis/AbletonLive/Recording_Dummy Project/Presets/Audio Effects/Max Audio Effect/.DS_Store
SoundSynthesis/AbletonLive/Recording_Dummy Project/Presets/.DS_Store
SoundSynthesis/AbletonLive/Recording_Dummy Project/.DS_Store
SoundSynthesis/AbletonLive/old/.DS_Store
SoundSynthesis/.DS_Store
.DS_Store
