
mergingentities.code-workspace
ATD_AV_interaction.code-workspace
*.pyc
Icon*
SoundSynthesis/AbletonLive/Composition_1B Project
SoundSynthesis/AbletonLive/.DS_Store
SoundSynthesis/AbletonLive/Composition_2A Project/Backup
